body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7fafa;
  color: #333;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  margin: 1rem;
  color: #398c71;
}

form {
  background: white;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

form > div {
  margin-bottom: 0.8rem;
}

input, select, button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  background-color: #398b70;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}

button:hover {
  background-color: #244037;
}



